.app {
  background-color: #212D40;
}

.body3{
  background-color: #212D40;
  height: 100px;
}

.navbar{
  background-color: rgba(248, 194, 0);
  height: 50px;
}

.taks {
  background-color: white;
}

.lead {
  background-color: white;
}

.challenges {
  background-color: white;
}

